<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>


<body>
<header th:replace="fragments :: html_navbar"/>
<br>
<br>
<div class="container admin">
    <div class="row">
        <div class="col-sm-6  mx-auto border bg-light ">
            <h1><strong>Ajouter une annonce</strong></h1>
            <br>
            <form class="form" action="#"
                  role="form" method="post"
                  enctype="multipart/form-data"
                  th:action="@{/item}"
                  th:object="${items}" >
<!--                modifier marche-->
                <input type="hidden" name="id" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Nom:</label>
                    <input type="text" th:field="*{nomVoiture}"  class="form-control" id="name" name="name" placeholder="Nom" required minlength="2" value="">
                    <!--        pattern="^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[-+!*$@%_])([-+!*$@%_\w]{8,15})$"-->
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Description" required minlength="7" value="" cols="80" rows="10" th:field="*{descriptionVoiture}"></textarea>

                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="price">Prix: (en €)</label>
                    <input type="number"  th:field="*{prix}" step="100" class="form-control" id="price" min="0" name="price"  placeholder="Prix" value="">
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label>Catégorie:</label>

                    <select class="form-control"  id="categoriesId" name="categoriesId">
                        <option th:each="cat: ${categories}"
                                th:value="${cat.id}"
                                th:text="${cat.name}">
                            th:selected="${cat.id} == *{categoriesId}">
                        </option>
                    </select>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="image">Sélectionner une image:</label>
                    <input th:field="*{image}" id="image" type="file"><br/>
                    <span class="help-inline"></span>
                </div>
                <br>
                <div class="form-actions">
                    <button type="submit" value="Valider" class="btn btn-success" ><i class="bi bi-check-circle-fill">&nbsp; Ajouter</i></button>
                    <a class="btn btn-primary" th:href="@{'/item/'}"> Retour</a>
                    <br><br><br>
                </div>
            </form>
        </div>
    </div>
</div>


<!--script-->
<script>
    document.querySelector("form").addEventListener("submit", function (event) {
        console.log(event);
        for (const input of event.target.querySelectorAll("form input,form select,form textarea")) {


            if (!input.checkValidity()) {
                event.preventDefault();
                if (!document.querySelector("#msg" + input.id)) {
                    input.classList.remove("is-valid");
                    input.classList.add("is-invalid");
                    let msg = document.createElement("div");
                    msg.id = `msg${input.id}`;
                    msg.classList.add('text-danger');
                    msg.innerText = input.validationMessage;
                    input.parentElement.insertBefore(msg, input);

                } else {
                    document.querySelector("#msg" + input.id).innerText = input.validationMessage;
                }
            } else {
                if (document.querySelector("#msg" + input.id)) {
                    console.log(input);
                    input.parentElement.removeChild(document.querySelector("#msg" + input.id));
                }
                input.classList.remove("is-invalid");
                input.classList.add("is-valid");
            }

        }
    })

    for (const input of document.querySelectorAll("form input,form select,form textarea")) {
        input.addEventListener('blur', function () {
                if (!input.validity.valid) {
                    if (!input.checkValidity()) {
                        input.classList.remove("is-valid");
                        input.classList.add("is-invalid");
                        if (!document.querySelector("#msg" + input.id)) {
                            let msg = document.createElement("div");
                            msg.id = `msg${input.id}`;
                            msg.classList.add('text-danger');
                            msg.innerText = input.validationMessage;
                            input.parentElement.insertBefore(msg, input);
                        } else {
                            document.querySelector("#msg" + input.id).innerText = input.validationMessage;
                        }
                    }
                } else {
                    if (document.querySelector("#msg" + input.id)) {
                        input.parentElement.removeChild(document.querySelector("#msg" + input.id));
                    }
                    input.classList.remove("is-invalid");
                    input.classList.add("is-valid");
                }
            }
        )
    }
</script>
</body>
</html>