<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>


<body>
<header th:replace="fragments :: html_navbar"/>
<div>

    <div class="container admin">
        <div class="row">
            <h1><strong>Liste des Voitures </strong>
                <br>
                <br>
                <div class="input-group">
                    <form th:action="@{/item}">
                    <input type="text" name="keyword"   class="form-control rounded" placeholder="Recherche" aria-label="Search"
                           aria-describedby="search-addon" />
                    <button type="submit" value="Search" class="btn btn-outline-primary"><i class="bi bi-search">&nbsp; Recheche</i></button>
                    </form>

                </div>

                <hr>
<!--                <select class="form-select" aria-label="Default select example">-->
<!--                    <option selected>Open this select menu</option>-->
<!--                    <option value="1">One</option>-->
<!--                    <option value="2">Two</option>-->
<!--                    <option value="3">Three</option>-->
<!--                </select>-->
                <a href="" th:href="@{'/item/add'}" class=" btn btn-outline-success btn-lg"><i class="bi bi-pen-fill">&nbsp; Ajouter</i> </a></h1>
            <table class="table table table-hover table-bordered border border-dark">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Description</th>
                    <th>Prix</th>
                    <th>Catégorie</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="i: ${item}">
                    <td th:text="${i.name}"></td>
                    <td th:text="${i.description}"></td>
                    <td th:text="${i.price}"></td>
                    <td th:text="${i.categories.name}"></td>
                    <td width=300>

                        <!--th:href="@{'/item/delete/'+${i.id}}"
                        href delete
                        -->

                        <a class="btn btn-primary" th:href="@{'/item/'+${i.id}}" href=""><i class="bi bi-nut-fill">&nbsp; Modifier</i></a><br><hr>


<!--                        Sans Modal-->
<!--                        <a class="btn btn-danger" th:href="@{'/item/delete/'+${i.id}}"  href=""  >Supprimer</a>-->

                        <a data-toggle="modal" class="btn btn-danger" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${i.id }"> <i class="bi bi-trash-fill">&nbsp; Supprimer</i></a>


                        <div class="modal modal-warning fade in" th:id="modal-warning+${i.id }" >
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">

                                        <h5 class="modal-title">Supprimer une annonce</h5>
                                    </div>
                                    <div class="modal-body">
                                        Etes vous sur de vouloir supprimer ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button"  class="btn btn-secondary" data-dismiss="modal">Retour</button>
                                        <a type="button" class="btn btn-danger" th:href="@{/admin/item/delete/{id}(id=${i.id})}"><i class="bi bi-trash-fill">&nbsp; Supprimer</i></a>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>


</div>

</body>
</html>