<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: html_head"/>


<body>
<header th:replace="fragments :: html_navbar"/>
<br>
<br>
<div class="container admin">
    <div class="row">
        <div class="col-sm-6 border bg-light border-dark">
            <h1><strong>Ajouter une annonce</strong></h1>
            <br>
            <form class="form" action="#"
                  role="form" method="post"
                  enctype="multipart/form-data"
                  th:action="@{/item}"
                  th:object="${items}" >
<!--                modifier marche-->
                <input type="hidden" name="id" th:field="*{id}">
                <div class="form-group">
                    <label for="name">Nom:</label>
                    <input type="text" th:field="*{nomVoiture}" class="form-control" id="name" name="name" placeholder="Nom" value="">
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="description">Description:</label>
                    <textarea type="text" class="form-control" id="description" name="description" placeholder="Description" value="" cols="80" rows="10" th:field="*{descriptionVoiture}"></textarea>

                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="price">Prix: (en €)</label>
                    <input type="number"  th:field="*{prix}" step="100" class="form-control" id="price" name="price" placeholder="Prix" value="">
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label>Catégorie:</label>

                    <select class="form-control"  id="categoriesId" name="categoriesId">
                        <option th:each="cat: ${categories}"
                                th:value="${cat.id}"
                                th:text="${cat.name}">
                            th:selected="${cat.id} == *{categoriesId}">
                        </option>
                    </select>
                    <span class="help-inline"></span>
                </div>
                <div class="form-group">
                    <label for="image">Sélectionner une image:</label>
                    <input th:field="*{image}" id="image" type="file"><br/>
                    <span class="help-inline"></span>
                </div>
                <br>
                <div class="form-actions">
                    <button type="submit" value="Valider" class="btn btn-success" ><i class="bi bi-check-circle-fill">&nbsp; Ajouter</i></button>
                    <a class="btn btn-primary" th:href="@{'/item/'}"> Retour</a>
                    <br><br><br>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>